.orange-bg          { background-color: #ff5733 !important; }
.green-bg           { background-color: #00aa1e !important; }
.blue-bg            { background-color: #3357ff !important; }
.pink-bg            { background-color: #ff33a1 !important; }
.purple-bg          { background-color: #a133ff !important; }
.orange-red-bg      { background-color: #ff8c33 !important; }
.reddish-brown-bg   { background-color: #5f2b0f !important; }
.dark-cyan-bg       { background-color: #006760 !important; }
.light-blue-bg      { background-color: #33a1ff !important; }

.light-pink-bg      { background-color: #fb8fff !important; }