@font-face {
    font-family: 'Vazir';
    src: url('../fonts/vazir/Vazir.eot'); /* IE9 Compat Modes */
    src: url('../fonts/vazir/Vazir.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/vazir/Vazir.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/vazir/Vazir.woff') format('woff'), /* Modern Browsers */
         url('../fonts/vazir/Vazir.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/vazir/Vazir-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/vazir/Vazir-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/vazir/Vazir-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/vazir/Vazir-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/vazir/Vazir-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/vazir/Vazir-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/vazir/Vazir-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/vazir/Vazir-Light.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/vazir/Vazir-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/vazir/Vazir-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/vazir/Vazir-Medium.woff') format('woff'), /* Modern Browsers */
         url('../fonts/vazir/Vazir-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/vazir/Vazir-Thin.eot'); /* IE9 Compat Modes */
    src: url('../fonts/vazir/Vazir-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/vazir/Vazir-Thin.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/vazir/Vazir-Thin.woff') format('woff'), /* Modern Browsers */
         url('../fonts/vazir/Vazir-Thin.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir-fd';
    src: url('../fonts/vazir_fd/Vazir-FD-WOL.eot'); /* IE9 Compat Modes */
    src: url('../fonts/vazir_fd/Vazir-FD-WOL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/vazir_fd/Vazir-FD-WOL.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/vazir_fd/Vazir-FD-WOL.woff') format('woff'), /* Modern Browsers */
         url('../fonts/vazir_fd/Vazir-FD-WOL.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir-fd';
    src: url('../fonts/vazir_fd/Vazir-Bold-FD-WOL.eot'); /* IE9 Compat Modes */
    src: url('../fonts/vazir_fd/Vazir-Bold-FD-WOL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/vazir_fd/Vazir-Bold-FD-WOL.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/vazir_fd/Vazir-Bold-FD-WOL.woff') format('woff'), /* Modern Browsers */
         url('../fonts/vazir_fd/Vazir-Bold-FD-WOL.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir-fd';
    src: url('../fonts/vazir_fd/Vazir-Light-FD-WOL.eot'); /* IE9 Compat Modes */
    src: url('../fonts/vazir_fd/Vazir-Light-FD-WOL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/vazir_fd/Vazir-Light-FD-WOL.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/vazir_fd/Vazir-Light-FD-WOL.woff') format('woff'), /* Modern Browsers */
         url('../fonts/vazir_fd/Vazir-Light-FD-WOL.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir-fd';
    src: url('../fonts/vazir_fd/Vazir-Medium-FD-WOL.eot'); /* IE9 Compat Modes */
    src: url('../fonts/vazir_fd/Vazir-Medium-FD-WOL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/vazir_fd/Vazir-Medium-FD-WOL.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/vazir_fd/Vazir-Medium-FD-WOL.woff') format('woff'), /* Modern Browsers */
         url('../fonts/vazir_fd/Vazir-Medium-FD-WOL.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir-fd';
    src: url('../fonts/vazir_fd/Vazir-Thin-FD-WOL.eot'); /* IE9 Compat Modes */
    src: url('../fonts/vazir_fd/Vazir-Thin-FD-WOL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/vazir_fd/Vazir-Thin-FD-WOL.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/vazir_fd/Vazir-Thin-FD-WOL.woff') format('woff'), /* Modern Browsers */
         url('../fonts/vazir_fd/Vazir-Thin-FD-WOL.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: 100;
    font-style: normal;
}
